h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 80px;
	color: #ffffff;
	line-height: 1;
}
h2 {	
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 45px;
	color: #ffffff;
	line-height: 1;
}
h3 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 32px;
	color: #ffffff;
	line-height: 1;
}
h4 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 28px;
	color: #ffffff;
	line-height: 1;
}
h5 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #ffffff;
	line-height: 1;
}
h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	line-height: 1;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	color: #ffffff;

	margin-bottom: 20px;
	line-height: 1.5;
	color: white;
	&:last-child {
		margin-bottom: 0;
	}
}

b {
	font-weight: 700;
}

a {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	color: #ffffff;

	text-decoration: none;
}

strong {
	font-weight: 700;
}