h1 {
    font: 700 65px roboto, Arial, Helvetica, sans-serif;
}
h2 {
	font: 700 45px roboto, Arial, Helvetica, sans-serif;
}
h3 {
    font: 700 30px roboto, Arial, Helvetica, sans-serif;
}
h4 {
    font: 700 24px roboto, Arial, Helvetica, sans-serif;
}
h5 {
    font: 700 20px roboto, Arial, Helvetica, sans-serif;
}
h6 {
    font: 700 18px roboto, Arial, Helvetica, sans-serif;
}

p {
	margin-bottom: 20px;
	line-height: 1.5;
	&:last-child {
		margin-bottom: 0;
	}
}

b {
	font-weight: 700;
}

a {
	text-decoration: none;
	color: unset;
}

strong {
	font-weight: 700;
}