/** CSS index
  Roboto Fonts:
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  Colors:
  Primary: #eeeeee
  P - Light: #ffffff
  P - Dark: #bcbcbc
  P - Text: #000000
  Secondary: #795548
  S - Light: #a98274
  S - Dark: #4b2c20
  S - Text: #ffffff
  'white': #F5F5F7
  nav silver: #DEE1E6
  nav red: #F16860
  nav orange: #F9BE52
  nav green: #64C35B
*/

/** Page wide effects
*/

 * {
   box-sizing: border-box;
   margin: 0;
 }

 body {
  scroll-behavior: smooth;
 }

.page {
  background-color: #eeeeee;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .13em;
  line-height: 2;
  scroll-behavior: smooth;
}

.page-header {
  min-height: 573px;
}

/** The page header
*/

.page-header {
  border-bottom: 1.5px solid #795548;
}

.page-header-main {
  min-height: 85vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.page-header-text {
  display: block;
  margin: 0;
}

h3.page-header-text {
  font-size: 2em;
}

p.page-header-text {
  font-size: 1.5em;
}

p.page-header-text a {
  text-decoration: none;
  color: #795548;
}

p.page-header-text a:hover {
  text-decoration: underline;
  color: #4b2c20;
}

.page-header-main .chevron-down-link {
  text-decoration: none;
}

.page-header-main .chevron-down {
  position: relative;
  top: 25px;
  color: #795548;
  text-decoration: none;
  animation: bopping 2s linear 0s infinite alternate both;
}
.page-header-main .chevron-down:hover {
  animation: none;
  transform: translate(0, 5px);
}

@keyframes bopping {
  30%, 70% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5px);
  }
}

.skills-container {
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Projects Section
*/

.project-container {
  border-top: 1.5px solid #795548;
}

.projects {
  margin: 0 auto;
  padding: 5vh 0 0 0;
  justify-content: space-between;
}

.projects-header {
  margin-bottom: 5vh;
}

.projects-header h3.col-10 {
  font-size: 1.8em;
}

.projects-header p.col-10 {
  text-align: justify;
  font-size: 1.3em;
}

.projects-header-skills {
  margin: 3vh auto 0 auto;
  justify-content: center;
}

.projects-header-skills p {

  white-space: nowrap;

  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin: 0 0 5vh 0;
  overflow: hidden;
  justify-content: center;

  box-shadow: 5px 5px 1px #bcbcbc;

  height: 18vw;
  width: 33vw;
}

.project-nav {
  width: 100%;
  background: #DEE1E6;
  border-radius: 5px;
  box-shadow: 0 2px 5px #bcbcbc;
  height: 21.5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.project-nav-buttons {
  position: absolute;
  align-self: flex-start;
  width: 4vw;
  display: flex;
  justify-content: space-around;
}

.project-nav-button {
  display: flex;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
}

.red-button {
  background-color: #F16860;
}

.green-button {
  background-color: #64C35B;
}

.yellow-button {
  background-color: #F9BE52;
}

.project-nav-name {
  color: rgba(59, 58, 58, 0.5);
  font-size: 15px;
  align-self: center;
}

.project-main {
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  transition: filter .5s;
}

/** the project hover section
*/

.project:hover .project-img {
  filter: brightness(50%);
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;

  position: relative;
  transition: transform .5s ease-in-out;
}

.project-buttons button {
  margin: 5px;
}

.project-buttons div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-buttons a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  width: 100%;
}

.project:hover .project-buttons {
  transform: translate(0, -25vh);
}

/** About Section
*/

.about-container {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .13em;
  line-height: 2;

  background: #eeeeee;
  justify-content: center;
  align-items: center;
}

.about {
  flex-direction: column;
  justify-content: space-around;

}

.about h3 {
  font-size: 2em;
}

.about p {
  display: block;
  margin: 0;
  font-size: 1.5em;
  text-align: justify;
}

.about a {
  text-decoration: none;
  color: #795548;
}

.about a:hover {
  text-decoration: underline;
  color: #4b2c20;
}

/** Footer Section
*/

.footer-container {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .13em;

  height: 35vh;
  min-height: 275px;
  border-top: 3px solid #4b2c20;
  margin-top: 3vh;
  justify-content: center;
  align-items: center;
}

.footer {
  justify-content: space-around;
}

.footer ul {
  margin: 5vh 0;
  height: 60%;

  display: flex;

  flex-direction: column;
  justify-content: space-between;

  font-size: 1.5em;
  color: #eeeeee;
  list-style: none;
}

.footer ul i {
  color: #4b2c20;
}

.footer ul li:first-child {
  color: #4b2c20;
  font-size: 1.2em;
  margin: 0 0 2vh 0;
}

.footer ul li a {
  color: #000000;
  text-decoration: none;
}

.footer ul li a:hover {
  border-bottom: 1px solid #4b2c20;
}

.footer-bottom {
  margin: 0 auto;

  font-family: 'Roboto Mono', monospace;
  font-weight: bold;

  color: #4b2c20;
  justify-content: center;
  align-items: center;
  height: 13vh;
}

/***

/// Breakpoints

*/

@media screen and (min-width: 1200px) {

  /* Header Section */
  .page-header {
    min-height: 650px;
  }

  .page-header-main .chevron-down {
    top: 50px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {

  /* Header Section */
  .page-header {
    min-height: 680px;
  }

  .page-header-main {}

  .page-header-main .chevron-down {
    top: 50px;
  }

  /* Project Section */
  .projects-header-skills p {
    width: 20%;
  }

  .project {
    width: 38vw;
    height: 20.727vw;
  }

  /* About */
  .about h3 {
    font-size: 1.5em;
  }

  .about p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {

  /* Header */
  .page-header-main .chevron-down {
    top: 2vh;
  }

  /* Projects */
  .projects-header-skills p {
    width: 25%;
  }

  .project {
    width: 38vw;
    height: 20.727vw;
  }

  .project-buttons {
    width: 90%;
  }

  .project:hover .project-buttons {
    transform: translate(0, -25vh);
  }

  /* About */
  /* Footer */
  .footer-container {
    margin-top: 5vh;
  }

  .footer {
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 799px) {

  /* Header */
  #page-header {
    width: 100vw;
  }

  .page-header-main {
    justify-content: space-around;
  }

  h3.page-header-text {
    font-size: 1.5em;
  }

  p.page-header-text {
    font-size: 1.2em;
  }

  .page-header-main .chevron-down {
    top: 10px;
  }

  /* Projects */
  #projects {
    width: 100%;
  }

  .projects-header-skills p {
    font-size: 0.9em;
    width: 25%;
  }

  .project {
    height: 42.7vw;
    width: 80vw;
  }

  .project:hover .project-buttons {
    transform: translate(0, -30vh);
  }

  /* About */
  .about-container {
    letter-spacing: .1em;
    line-height: 2;
  }

  .about h3 {
    font-size: 1.5em;
  }

  .about p {
    font-size: 1.2em;
  }

  /* Footer */
  .footer-container {
    width: 100%;
    min-height: 0;
    height: 200px;
  }

  .footer {
    width: 100%;
  }

  .footer ul {
    font-size: 1em;
  }

  .footer ul li:first-child {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 599px) {
  .page {
    letter-spacing: .08em;
    line-height: 1.5;
  }

  .page-header-main {
    min-height: 490px;
  }

  .projects {
    width: 100%;
  }

  .projects-header {
    width: 80%;
    margin: 0 auto;
  }

  .projects-header-skills {
    justify-content: flex-start;
  }

  .projects-header-skills p {
    width: auto;
  }

  .project {
    width: 100%;
    height: 54.54vw;
    margin-top: 5vh;
  }

  .project:hover .project-buttons {
    transform: translate(0, -30vh);
  }

  .footer {
    justify-content: space-between;
    margin-left: 5px;
  }

  .footer ul {
    padding: 0;
  }
}

@media screen and (max-width: 439px) {
  .page {
    letter-spacing: .07em;
    line-height: 1;
  }

  h3.page-header-text {
    font-size: 1.1em;
  }

  p.page-header-text {
    font-size: 1em;
  }

  .projects-header h3 {
    font-size: 1em;
  }

  .projects-header p {
    font-size: 0.9em;
  }

  .project-buttons button {
    font-size: 0.8em;
  }

  .project:hover .project-buttons {
    transform: translate(0, -20vh);
  }

  .about-container {
    height: auto;
  }

  .about {
    font-size: 0.8em;
    letter-spacing: 0.07em;
    line-height: 1;
  }

  .footer ul:first-child {
    display: none;
  }

  .footer-container {
    height: auto;
    margin-top: 5vh;
  }

  .footer {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer ul {
    width: 100%;
    justify-content: center;
    height: auto;
  }

  .footer-link-email {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 265px) {
  .project-buttons button {
    font-size: 0.55em;
  }

  .project:hover .project-buttons {
    transform: translate(0, -16vh);
  }
}

@media screen and (max-width: 199px) {}