///
/// colors
///
$color--transparent: rgba(0,0,0,0);
$color--white: #ffffff;
$color--gray: #909ca7;
$color--orange: #ea7531;
$color--yellow-humpty: #ffd10c;
$color--blue-aqua: #05c7f2;
$color--blue-navy: #1a4cdf;
$color--blue-navy-light: #1165ce;
$color--blue-slate: #354a5e;
$color--blue-slate-light: #3c7cbb;
$color--blue-slate-faded: #f7fbfc;
$color--blue-darkslate-overlay: rgba(23, 49, 59, 0.8);
$color--blue-darkslate-overlay--ie: rgba(23, 49, 59, 0.8);
$color--green-dark: #68B983;
$color--green-light: #80DA9F;
$color--straight-grey: #d9d9d9;

$color-gradient--blue-dark-light: linear-gradient(to right, $color--blue-navy 0, $color--blue-aqua 100%);
$color-gradient--blue-dark-light-top: linear-gradient(to top right, $color--blue-navy 0, $color--blue-aqua 100%);
$color-gradient--blue-light-dark: linear-gradient(to bottom right, $color--blue-aqua 0, $color--blue-navy 50%);
$color-gradient--orange: linear-gradient(to bottom right, $color--yellow-humpty 0, $color--orange 50%);
$color-gradient--orange-yellow: linear-gradient(to left, $color--yellow-humpty 0, $color--orange 100%);
$color-gradient--green: linear-gradient(to right, $color--green-dark, $color--green-light);

///
/// Border styling
///
$border-width: 1px;
$border-style: solid;
$border-radius--primary: 25px;
$border-radius--secondary: 50%;
$border-radius--soft: 5px;

///
/// Font related variables
///
$font-size-base: 18px;
$line-height-base: 1.2;

///
/// Max-width variables
///
$max-width--full: 2000px;
$max-width--1600: 1600px;
$max-width--1350: 1350px; 
$max-width--container: 1200px;
$max-width--1000: 1000px;
$max-width--inner-content: 850px;

///
/// @include media keywords
///
$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1225px,
	'wider-screen': 1400px,
	'1600': 1600px,
	'max-width': 2000px,
	'massive-screen': 2800px
);

///
/// keywords
///
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

$digital-box: url('data:image/svg+xml;utf8,<svg viewBox="0 0 115 210" xmlns="http://www.w3.org/2000/svg"><path fill="transparent" stroke="rgba(255, 255, 255, 0.07)" stroke-width="3" d="M 0 0 L 57.5 35 L 0 70 V 210 M 57.5 0 V 105 L 0 140 L 57.5 175 V 210 M 57.5 105 L 115 140 L 57.5 175 M 115 0 L 57.5 35 L 115 70 V 210" /></svg>');