.kd-careers-posting__content-area {
	padding-top: 80px;
	padding-bottom: 80px;
	
	color: #909ca7;
	text-align: left;

	h2, h3, h4, h5, h6 {
		margin: 0 0 20px;
		max-width: none;
	}

	h3 {
		color: #354a5e;
	}

	ul {
		margin-bottom: 40px;
		list-style: inside;
	}
}