/** CSS index
  Roboto Fonts:
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  Colors:
  black: rgb(17, 17, 17);
  offblack: rgb(59, 58, 58);
*/

.main-page {
  background: rgba(240, 240, 240, 0.8);
  color: rgba(17, 17, 17, 0.8);
  color: rgba(59, 58, 58, 1);
}

.main-page-header {
  border: 1px solid black;

  font-family: 'Roboto Mono', monospace;

  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.main-page-header-name {
  margin-left: 10vw;
}

.main-page-header-title {
  margin-left: 10vw;

}

.main-page-header h1 {
  font-size: 5vw;

  animation:
    typing 2s steps(40, end) 1,
    blinking .75s step-end 0s infinite normal forwards;
}

.main-page-header h3 {
  font-size: 3vw;

  width: 0;

  animation:
    typing 2s steps(40, end) 2.25s 1 normal forwards,
    blinking .75s step-end 2.25s infinite normal forwards;
}

.typewriter-font {

  overflow: hidden;
  border-right: 5px solid black;
  white-space: nowrap;
  margin: 0;
  letter-spacing: .15em; /* Adjust as needed */
}

@keyframes typing {
  0% {
    width: 0;
    border-right: 5px solid black;
  }
  100% {
    border: none;
    width: 100%
  }
}

@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-right-color: black}
}

.pic-of-me {
  width: 20vw;
  height: 20vw;
}
