@charset "UTF-8";

/* * {
  border: 1px solid black;
} */

body {
  display: flex;
  background-color: #F7F7F7;
  background: radial-gradient(#F7F7F7, #F5F5F5);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

li {
  display: inline;
}

.page-full {
  max-width: 800px;
  margin-top: 10px;
}

.pic-of-me {
  max-width: 100%;
}

.page-header {
  justify-content: center;
}

.page-header p, .page-header ul {
  font-size: 20px;
}

.page-project {
  display: inline-block;
  margin: 10px 0;
}

.page-project-img {
  max-width: 100%;
}

.page-project h5 {
  text-align: center;
}

.page-project {
  font-size: 90%;
}

.page-project p {
  height: 80px;
}

.page-project ul {
  height: 30px;
}

.page-project a {
  justify-content: center;
}

.page-footer {
  justify-content: center;
}

/* .new-section:after {
  width:100%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid;
  overflow: hidden;
  justify-content: space-around;
  color: black;
} */
